<!-- Original code written by me -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specialist Treatment by Course</title>
    <!-- Link to the external CSS file styles.css -->
    <link rel="stylesheet" href="/styles.css">
    <!-- Loads the Chart.js library from a CDN to create charts -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>  
</head>
<body>
    <h1>Specialist Treatment Analysis by Course</h1>

    <!-- A back button to navigate back to the home page -->
    <ul class="back-button">
        <li><a href="/">â† Back</a></li>
    </ul>
    
    <!-- A container for the description text, dropdown & button -->
    <div class="container">
        <!-- Brief description of the page -->   
        <p>A bar chart shows the number of students in selected course who received specialist treatment, with separate bars for those who did & did not receive treatment.</p>
        <!-- Label & Dropdown to select for selecting courses -->
        <label for="courseDropdown">Select a Course:</label>
        <select id="courseDropdown"></select>
    </div>

    <!-- Creates a canvas element where the chart will be rendered; sets its width & height -->
    <canvas id="specialistTreatmentChart" width="800" height="400"></canvas>
    <!-- Links to the external JavaScript file to add functionality & handle the chart rendering -->
    <script src="/scripts/mentalHealthByCourse.js"></script>
</body>
</html>